{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ car_detail_form }}
    {{ car_main_form }}
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Color</th>
        <th>Seats</th>
        <th>Fuel</th>
        <th>Power</th>
        <th>Production Date</th>
    </tr>
{% for car in cars %}
    <tr>
        <td>{{ car.main.make }}</td>
        <td>{{ car.main.model }}</td>
        <td>{{ car.detail.color }}</td>
        <td>{{ car.detail.seats }}</td>
        <td>{{ car.detail.fuel }}</td>
        <td>{{ car.detail.power }}</td>
        <td>{{ car.detail.production_date }}</td>
    </tr>
{% endfor %}
</table>
{% endblock content %}